p {
    text-align: left;
}

.card {
    position: relative;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-contents {
    padding-top: 10px;
    padding-left: 10px;
}

.image img {
    width: 100%;
    height: 100%;
}
    
.image {
    position: relative;
}
    
.image figcaption{
    position: absolute;
    top: 85%;
    left: 5%;
}

.name {
    color: white;
    font-size: larger;
    font-weight: 500;
}

.female {
    background-color: #ffebee;
}
