.navbar {
    color: white;
    background-color: tomato;
}

#header {
    padding: 5px;
    font-size: 1.5em;
    font-weight: 500;
    margin-left: 5%;
}

#header:hover, #about:hover {
    cursor: pointer;
    transform: scale(0.97);
    color: #D2D7D3;
}

.header-icons {
    text-align: right;
    width: 50%;
    word-break: keep-all;
    margin-right: 5%;
}

#about {
    font-weight: 500;
}

#layout-icon {
    color: white;
    margin-left: 2%;
    font-size: larger;
    margin-left: 8px;
    margin-right: 8px;
}

#reload {
    color: white;
    margin-left: 2%;
    font-size: larger;
    margin-left: 8px;
}

@media screen and (max-width: 576px) {
    #header {
        font-size: 1em;
    }

    .header-icons {
        font-size: 0.8em;
    }
}
