.footer-wrapper {
    background-color: tomato;
    color: white;
    text-align: left;
    padding: 5px;
}

.bit-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.bit-link:hover {
    color: #0096FF;
}

#copyright {
    margin-left: 5%;
    margin-right: 3%;
}

#update {
    margin-right: 10%;
}